*{
    box-sizing: border-box;
}
.header{
    background-image:url('images/web-banner.jpg');
    margin:0px;
    height: 450px;
    background-size: cover;
    color: #333;
    font-size: 18px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.header-chile {
  margin: 0px;
  height: 50px;
  color: #f1f1f1;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  background-color: #333;
}
.header-chile p {
  font-size: 12px;
  padding: 10px;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(241, 245, 245);
    position: fixed;
    width: 100%;
    margin-top: 0px;
  }
 .header li {
    float: left;
  }
 .header li a,.header .dropbtn {
    display: inline-block;
    color: rgb(23, 22, 22);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  .header li.dropdown {
    display: inline-block;
  }
  
  .header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

img{
    max-width:100%;
}
video{
    max-width: 100%;
}
h3{
    text-transform: uppercase;
}
.row::after{
    content:"";
    clear:both;
    display:table;
}
.build {
  text-align: right;
}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:51.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

[class*="col-"]{
    float:left;
    padding:15px;
}

@media only screen and (max-width:768px){
    /*for mobile phoes:*/
    [class*="col-"]{
        width:100%;
        background-color: bisque;
    }
}